# {{ ansible_managed }}
# Packwiz pack configuration

[pack]
name = "{{ minecraft_server_name }}"
author = "{{ minecraft_packwiz_author | default('Server Admin') }}"
version = "1.0.0"
pack-format = "packwiz:1.1.0"

[index]
file = "index.toml"
hash-format = "sha256"

[versions]
minecraft = "{{ minecraft_version }}"
{% if minecraft_type == "PAPER" or minecraft_type == "FABRIC" %}
{% if minecraft_type == "FABRIC" %}
fabric = "latest"
{% endif %}
{% endif %}
