# {{ ansible_managed }}
# S3 Credentials for Restic Backup

export AWS_ACCESS_KEY_ID="{{ minecraft_backup_s3_access_key }}"
export AWS_SECRET_ACCESS_KEY="{{ minecraft_backup_s3_secret_key }}"
export RESTIC_REPOSITORY="s3:{{ minecraft_backup_s3_endpoint }}/{{ minecraft_backup_s3_bucket }}"
